/* general account settings container */

.account-settings {
    padding-left: 18.8em;
    padding-top: 8.5em;
    padding-right: 9.5em;
    /* box-shadow: 0px 3px 6px rgba(125, 125, 125, 0.8); */
    /* display: flex;
    display: -webkit-flex;
    display: -ms-flex; */
}


/* profile picture and name container */

.user-overlay {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    margin-bottom: 2em;
}


/* name wrapper */

.user-info-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
}


/* name and specs */

.user-info {
    padding: 1em 2em;
    border-radius: 10px;
    background: #EEE8F6;
    margin-left: 1em;
}


/* to shift user-info down */

.space-filler {
    flex: 99 1 auto;
}

.tutor-name {
    color: #776FC4;
}

.tutor-spec {
    margin-bottom: 0;
    padding-top: 0;
}


/* settings container */

.account-content {
    margin-top: 2em;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}


/* splitting the content in half */

.account-content-split {
    flex: 1;
    padding-left: 2em;
}

.info-element-container {
    margin-bottom: 3em;
}

.info-element-container>p {
    font-size: 1.05em;
    margin: 0;
}

.info-element-container .body-text {
    padding-top: 0.5em;
}

.account-menu {
    border-right: 1px solid #F6F7F9;
    flex: 0 0 15%;
}

.account-setting-menu {
    margin-bottom: 2em;
    padding-left: 2.5em;
    color: black;
    text-decoration: none;
    display: block;
}

.account-setting-menu:nth-child(1) {
    margin-top: 0;
}

.title-active {
    font-family: SF Pro Display SemiBold;
    color: #776FC4;
}

.tutor-balance-amount {
    /* font-size: 2rem; */
}