/* Computer Mode */
/* Tablet Mode*/
@media only screen and (max-width:1024px) and (min-width:426px) {

  /* Change Font sizes */
  * {
    font-size: 16px;
  }

  body {
    min-height: 100vh;
  }

  .heading-1 {
    font-size: 1.3rem;
  }

  .body-text {
    font-size: 1rem;
  }

  /* Hide navigation menu */
  .side-nav {
    display: none;
  }

  .top-nav {
    display: none;
  }

  /* Adjust padding of page content */
  .home-page {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 0;
  }

  .about-page {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 5em;
  }

  .tutor-list {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 0;
  }

  .contact-page {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 5em;
    flex-direction: column;
  }

  .signup-page {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 5em;
    flex-direction: column-reverse;
  }

  .login-page {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 5em;
    flex-direction: column-reverse;
  }

  .tutor-detail {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 8em;
    padding-bottom: 5em;
    flex-direction: column;
  }

  .cart-section {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    padding-bottom: 0;
    flex-direction: column;
  }

  .cart-container {
    flex-direction: column;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    padding: 0;
    min-height: 0;
  }

  /* Adjust flex ratio for title */
  .slider-title-section>* {
    flex: 1 1 100%;
  }

  .slider-title-section {
    flex-direction: column;
  }

  .slider-button {
    align-self: flex-end;
  }

  .home-slider {
    margin-top: 4em;
    margin-bottom: 0;
  }

  /* Set card container size */
  .card-container {
    width: 40%;
  }

  #inner {
    padding-right: 1.5em;
  }

  .about-title-item {
    height: auto;
  }

  /* Remove Image from About Page */
  .about-title-item:nth-child(2) {
    display: none;
  }

  /* Contact page form width */
  .contact-page-item {
    flex: 1 1 100%;
    width: 100%;
    min-height: 0;
    margin-bottom: 2em;
  }

  #contact-form {
    width: 100%;
  }

  /* Signup page hand image shift down */
  .hand-img {
    margin-top: 0;
    margin-right: 3em;
  }

  .signup-message {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #register-form {
    width: 100%;
  }

  /* Remove min width from login message */
  .login-message {
    margin-left: 0;
    min-width: 0;
    margin-top: 3em;
  }

  #login-form {
    width: 100%;
  }

  .login-page-item {
    margin-top: 10em;
    min-height: 0;
  }

  /* Adjust tutor details flex direction */
  .detail-info {
    flex-direction: column-reverse;
  }

  .course-info {
    flex-direction: row;
    margin: 2em 0;
  }

  .course-detail-info {
    flex-direction: column;
  }

  /* Adjust tutor detail image size */
  .image-holder .card-container {
    width: 100%;
    margin-right: 2em;
  }

  /* Resizing buttons */
  .info-btn {
    padding: 3.8em 3.2em;
    height: auto;
  }

  .info-btn>img {
    margin-bottom: 0;
  }

  /* Shift cart detail over to left */
  .cart-detail {
    padding-left: 0;
  }

  .cart-item .card-container {
    width: 100%;
  }
}

/* Mobile Phone Mode*/
@media only screen and (max-width:425px) {

  /* Change Font sizes */
  * {
    font-size: 16px;
  }

  .heading-1 {
    font-size: 1.3rem;
  }

  .body-text {
    font-size: 1rem;
  }

  #course-price {
    font-size: 1.2rem;
  }

  /* Hide navigation menu */
  .side-nav {
    display: none;
  }

  .top-nav {
    display: none;
  }

  /* Adjust padding of page content */
  .home-page {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
  }

  .about-page {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 1em;
  }

  .tutor-list {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 0;
  }

  .contact-page {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 0;
    flex-direction: column;
  }

  .signup-page {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 0;
    flex-direction: column-reverse;
  }

  .login-page {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    padding-bottom: 0;
    flex-direction: column-reverse;
  }

  .tutor-detail {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    padding-bottom: 0;
    flex-direction: column;
  }

  .cart-section {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    padding-bottom: 0;
    flex-direction: column;
  }

  .tutor-detail-container {
    padding: 2em;
  }

  .cart-container {
    flex-direction: column;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    padding: 0;
    min-height: 0;
  }

  /* Adjust flex ratio for title */
  .slider-title-section>* {
    flex: 1 1 100%;
  }

  .slider-title-section {
    flex-direction: column;
  }

  .slider-button {
    align-self: flex-end;
  }

  .home-slider {
    margin-top: 4em;
    margin-bottom: 0;
  }

  /* Set card container size */
  .card-container {
    width: 100%;
  }

  #inner {
    padding-right: 1.5em;
  }

  /* Set Icon max height */
  .icon-award {
    max-height: 1.3em;
  }

  /* Remove Image from About Page */
  .about-title-item:nth-child(2) {
    display: none;
  }

  /* Remove margin from tutor listing cards */
  .cards-wrapper>.card-container {
    margin: 1em 0;
  }

  /* Sort and filter button on a separate line than title */
  .list-title {
    flex-direction: column;
  }

  /* Contact page form width */
  .contact-page-item {
    flex: 1 1 100%;
    width: 100%;
    min-height: 0;
    margin-bottom: 2em;
  }

  #contact-form {
    width: 100%;
  }

  .contact-info {
    padding: 3em 2em;
  }

  .social-media a {
    margin-right: 1em;
  }

  /* Signup page hand image shift down */
  .hand-img {
    margin-top: 0;
    margin-right: 2em;
  }

  .signup-message {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #register-form {
    width: 100%;
  }

  /* Remove min width from login message */
  .login-message {
    margin-left: 0;
    min-width: 0;
    margin-top: 1em;
  }

  #login-form {
    width: 100%;
  }

  .login-page-item {
    margin-top: 5em;
    min-height: 0;
  }

  /* Adjust tutor details flex direction */
  .detail-info {
    flex-direction: column-reverse;
  }

  .course-info {
    flex-direction: row;
    margin: 2em 0;
  }

  .course-detail-info {
    flex-direction: column;
  }

  /* Adjust tutor detail image size */
  .image-holder .card-container {
    width: 100%;
    margin-right: 2em;
  }

  .image-holder {
    width: 50%;
    margin-right: 1em;
  }

  /* Remove tutor container background */
  .tutor-detail-container {
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0;
  }

  /* Tutor add to cart button padding */
  .card-info {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }

  /* Resizing buttons */
  .info-btn {
    padding: 2.2em 2em;
    height: auto;
    margin-right: 1em;
    white-space: nowrap;
  }

  /* Shift cart detail over to left */
  .cart-detail {
    padding-left: 0;
  }

  .info-wrapper .card-info {
    text-align: left;
  }
}