.top-nav {
  background: none;
}

.signup-page {
  padding-left: 18.8em;
  padding-top: 8.5em;
  padding-right: 5em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* signup page form layout */
.signup-page-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
}

/* signup page empty space on right*/
.signup-page-filler {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
}

.signup-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

#register-form {
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.home-title-item:last-child {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* end signup page form  */
/* Best tutors section for home page*/
.home-slider {
  margin-top: 6em;
  /* display: -webkit-flex;
  display: -ms-flex;
  display: flex; */
  /* justify-content: space-between;
  align-items: flex-start; */
}

.slide:first-child {
  margin-left: 0;
}

/* Waving Image CSS*/
.hand-img {
  width: 25%;
  height: auto;
  margin-bottom: 3em;
}

/* End of Waving Image Css*/
/* Form Styling*/
.form-label {
  font-family: SF Pro Display SemiBold;
  display: inline-block;
  color: #776FC4;
  width: 50%;
  float: left;
}

.form-reveal {
  font-family: SF Pro Display SemiBold;
  display: inline-block;
  text-decoration: none;
  text-align: right;
  float: right;
  color: #776FC4;
  width: 50%;
}

/*input text-box styling*/
.text-box {
  font-family: 'SF Pro Display', sans-serif;
  background-color: transparent;
  color: #000000;
  border: none;
  border-bottom: 1px solid #C4CAD5;
  outline-width: 0;
  padding: 0.75rem 0;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  clear: both;
  font-size: 1.4rem;
}

/*input text-box styling*/
.text-box:focus {
  width: 100%;
  border: none;
  border-bottom: 1px solid #776FC4;
  outline-width: 0;
}

/*input text-box styling*/
::placeholder {
  color: #C4CAD5;
}

/*Submit button styling*/
.button-default {
  margin-top: 2em;
  background-color: #673AB7;
  width: 100%;
  border-radius: 6px;
  padding: 0.75em;
  border: none;
  color: #FFFFFF;
  font-family: SF Pro Display;
  font-size: 1em;
}

/*Link styling*/
.link-default {
  font-family: SF Pro Display SemiBold;
  text-decoration: none;
  color: #776FC4;
  font-size: 1em;
  margin-bottom: 0;
}

/*Checkbox styling*/
input[type='checkbox'] {
  cursor: pointer;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
}

input[type='checkbox']:before {
  border: 1px solid #C4CAD5;
  border-radius: 5px;
  background-color: transparent;
}

input[type='checkbox']:checked:after {
  border: 1px solid #C4CAD5;
  border-radius: 5px;
  background-color: #776FC4;
}

/* End of Form Styling*/
