/* basic styling */

* {
    box-sizing: border-box !important;
    font-size: 11pt;
}

body {
    position: relative;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    padding: 3em;
    width: 100%;
    text-align: center;
}

footer p {
    font-family: SF Pro Display SemiBold;
    color: #776FC4;
    font-size: 1rem;
    text-decoration: none;
}

.heading-1 {
    font-family: Poppins;
    color: #000000;
    font-size: 1.9rem;
    margin-block-start: 0;
}

.heading-2 {
    font-family: Poppins;
    color: #000000;
    font-size: 1.3rem;
    margin-block-start: 0;
}

.heading-3 {
    font-family: SF Pro Display SemiBold;
    color: #776FC4;
    font-size: 1rem;
}

.heading-4 {
    font-family: Poppins;
    color: #776FC4;
    font-size: 1.05rem;
}

.body-text {
    font-family: SF Pro Display;
    color: #000000;
    font-size: .95rem;
    line-height: 1.5em;
}

.flex-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}

.max-flex-box-item {
    flex: 99 1 auto !important;
}

.body-wrapper {
    width: 100%;
    position: relative;
}

.title-with-icon {
    padding-left: 1.5em;
}

.background {
    top: -382.2995910644531px;
    left: 1057px;
    width: 1646px;
    height: 1892px;
    transform: matrix(0.88, -0.47, 0.47, 0.88, 0, 0);
    background: #E5F8FF 0% 0% no-repeat padding-box;
    border-radius: 82px;
    opacity: 1;
    position: fixed;
}


/* end basic styling */


/* top nav bar */

.top-nav {
    width: 100vw;
    height: auto;
    padding: 2.2em 6em 1.5em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: SF Pro Display;
    z-index: 99;
    position: fixed;
    background: linear-gradient(180deg, white 80%, rgba(0, 0, 0, 0));
    /* background: rgba(255, 255, 255, 0.5); */
}

.top-nav-item {
    flex: 1 1 auto;
}

.top-nav>.logo {
    margin-right: 7em;
}

.top-nav>.logo img {
    width: 5.8em;
}

.searchbar {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}

.searchbar input[type=search] {
    flex: 99 1 auto;
    padding: 0.5rem;
    font-size: .8rem;
    min-width: 12rem;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition-duration: .2s;
    transition-property: border-bottom;
    color: #C4CAD5;
}

.searchbar ::placeholder {
    color: #C4CAD5;
    opacity: 1;
    /* Firefox */
}

.searchbar :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #C4CAD5;
}

.searchbar ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #C4CAD5;
}

.searchbar input[type=search]:hover {
    border-bottom: 2px solid #C4CAD5;
}

.searchbar input[type=search]:focus {
    outline-width: 1px;
}

.searchbar button {
    flex: 1 1 auto;
    width: 1.8em;
    height: 1.5em;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/Search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    opacity: 0.5;
    transition-duration: .5s;
    transition-property: opacity;
}

.searchbar button:hover,
.searchbar button:focus {
    opacity: 1;
}

.account-section {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.account-section.display {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.account-section>.top-nav-item {
    margin-left: 4.5em;
}

.account-section a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: .9rem;
    transition-duration: .2s;
    transition-property: color;
}

.account-section a:hover,
.account-section a:focus {
    color: #776FC4;
}


/* need to work from here */

.account-section .cart-detail-top {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5em;
    padding-top: 2.2em;
}

.account-section .cart-quantity-top {
    padding-right: 2em;
}

.account-section .cart-quantity-top .heading-3 {
    margin: 0;
}

.account-section .login-wrapper {
    /* doesn't span the entire 100% */
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    align-content: space-between;
    align-items: center;
    background: white;
    padding: 0.7em 0.75em;
    border-radius: 10em;
    text-decoration: none;
    box-shadow: 0px 2px 3px rgba(125, 125, 125, 0.2);
}

.account-section .login-wrapper:hover {
    box-shadow: 0px 1px 2px rgba(125, 125, 125, 0.1);
    border-bottom: 1px solid rgba(177, 171, 235, 0.3);
}

.account-section .login-wrapper .heading-3 {
    margin: 0;
    padding-left: 1em;
    padding-right: 2em;
}

.account-section .profile-picture {
    height: 2.3em;
    padding-right: 2.3em;
    align-items: center;
    border-radius: 3em;
    margin-right: 1.25rem;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.account-section .dropDown {
    position: relative;
}

.account-section .dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: .3em;
    padding: 0 !important;
}

.account-section .dropdown-content {
    display: none;
    position: absolute;
    min-width: 10em;
    background-color: white;
    box-shadow: 0 .1em .2em 0 rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 1em;
    padding-top: 3.75em;
    z-index: -10;
}

.account-section .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    transition-duration: .2s;
    transition-property: background-color;
}

.account-section .dropdown-content a:hover {
    background-color: #f1f1f1
}

.account-section .dropDown:hover .dropdown-content {
    display: block;
    overflow: hidden;
}

.account-section .dropDown:hover .login-wrapper {
    border-radius: 1em 1em 0 0;
}


/* end top nav bar */


/* start side nav bar*/

.side-nav {
    height: 100%;
    width: auto;
    position: fixed;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.side-nav .heading-2 {
    margin-bottom: 2em;
}

.side-nav a {
    font-family: SF Pro Display;
    padding: 0.5em 3em;
    margin-bottom: 2.5em;
    text-decoration: none;
    font-size: .8em;
    color: #000000;
    display: block;
}

.side-nav a:hover {
    color: #776FC4;
}

.main-menu {
    margin-top: 9em;
}

.help-button {
    margin-bottom: 5vh;
}

.help-button a {
    padding: 1em 4em;
}

.side-nav-item {
    margin-left: 6em;
}

.icon-home {
    /*Home icon to home menu button*/
    background-image: url("../img/Home.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-tutors {
    /*Tutors icon to tutors menu button*/
    background-image: url("../img/Tutor.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-about {
    /*About icon to about menu button*/
    background-image: url("../img/About.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-contact {
    /*Contact icon to contact menu button*/
    background-image: url("../img/Contact.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-help {
    /*Help icon to help menu button*/
    background-image: url("../img/Help.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-briefcase {
    /*Briefcase icon*/
    background-image: url("../img/Briefcase.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-cart {
    /*cart icon*/
    background-image: url("../img/Cart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-cart-purple {
    /*Caret Icon*/
    background-image: url("../img/Cart_Purple.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-edit {
    /*Edit icon*/
    background-image: url("../img/edit.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 3rem;
    width: 3rem;
}

.icon-pic {
    /*Profile Picture*/
    background-image: url("../img/Jennifer_PFP.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-caret {
    /*Caret Icon*/
    background-image: url("../img/caret.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 1em;
    width: 1em;
}

.icon-announcement {
    /*Announcements icon on Home Page*/
    background-image: url("../img/News.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-award {
    /*Award icon on Home Page*/
    background-image: url("../img/Award.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-enter {
    /*Enter icon on Home Page*/
    background-image: url("../img/Login.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-phone {
    /*Phone icon on Home Page*/
    background-image: url("../img/Phone_Number.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-email {
    /*Email icon on Home Page*/
    background-image: url("../img/Email_Address.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-location {
    /*Location icon on Home Page*/
    background-image: url("../img/Office_Address.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-setting {
    /*Setting icon on Accounts Page*/
    background-image: url("../img/Settings.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-clock {
    /*Clock icon on Accounts Page*/
    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-tutor-about {
    /*About icon on Accounts Page*/
    background-image: url("../img/Tutor_About.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-calendar {
    /*Calendar icon on Accounts Page*/
    background-image: url("../img/Calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-booking-history {
    /*Calendar icon on Accounts Page*/
    background-image: url("../img/timeline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-star {
    /*Calendar icon on Accounts Page*/
    background-image: url("../img/Star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-rating {
    /*Rating icon on Accounts Page*/
    background-image: url("../img/Rating.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-customize {
    /*Customization icon on Accounts Page*/
    background-image: url("../img/Customize.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

.icon-recommended {
    /*Recommended icon on Home Page*/
    background-image: url("../img/Recommended.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}


/* end side nav bar */


/* start of card */


/* demo wrapper to show the interation of scaling */

.demo-container {
    margin: 5em
}


/* card container; contains all elements of the card */

.card-container {
    position: relative;
    width: 20em;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.btn {
    display: block;
    padding: 0.75em 1.5em;
    background: white;
    border-radius: 5px;
    text-decoration: none;
    color: #776FC4;
    font-family: SF Pro Display;
    font-size: 1em;
    text-align: center;
}

.card-container img {
    width: 100%;
}

.card-container img {
    border-radius: 10px;
}

.card-container:hover img {
    box-shadow: 0px 3px 6px rgba(125, 125, 125, 0.5);
}


/* used https://stackoverflow.com/questions/32285150/image-overlay-with-padding-and-text-centered */


/* card info spacing and positioningwrapper */

.info-wrapper {
    position: absolute;
    bottom: 1em;
    left: 0.5em;
    width: calc(100% - 1em);
}

.card-info {
    background: #EEE8F6;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    padding: 1.25em .75em .75em 1.25em;
    border-radius: 10px;
}

.card-info>p {
    margin: 0;
    flex: 99 1 auto;
}

.tutor-spec {
    color: #776FC4;
    padding-top: 0.5em;
}

.card-info .btn {
    align-self: flex-end;
    box-shadow: 0px 3px 6px rgba(125, 125, 125, 0.2);
}

.card-info .tutor-price {
    text-align: right;
    font-size: 1.5rem;
}

.card-info .btn:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}


/* responsive */

.iframe-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 98;
    margin-right: 1em;
    margin-bottom: -5px;
}

.help-iframe {
    width: 100%;
    height: 100%;
}


/* overlay module */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    z-index: -100;
    opacity: 0;
    /* z-index:999; */
}

.overlay-body {
    position: absolute;
    width: 50em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3em 3em 2.3em;
    background-color: white;
    border-radius: 1.2em;
}

.overlay #closeButton {
    position: absolute;
    right: 1.7em;
    top: 1.3em;
    width: .7em;
    height: .7em;
    background-image: url(../img/close-black.svg);
    opacity: .3;
    transition: all .5s ease-out;
}

.overlay #closeButton:hover,
.overlay #closeButton:active,
.overlay #closeButton:focus {
    opacity: .7;
}


/* overlay reivew section */

.post-review {}

.post-review>.flex-box {
    align-items: center;
}

.post-review>.flex-box>* {
    flex: 1 1 auto;
    margin-right: .5em;
}

.post-review>.flex-box>*:last-child {
    margin-right: 0;
}

.rate {
    float: left;
    height: auto;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 2.5em;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #847ec4;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #b5aff0;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #585199;
}


/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css && https://codepen.io/hesguru/pen/BaybqXv*/

#selectCourse {
    width: 15em;
    padding: .3em 1.2em;
    font-family: SF Pro Display;
    font-size: 1em;
    color: #ccc;
    border-radius: .2em;
    border-color: rgba(0, 0, 0, 0.3);
}

#selectCourse>option {
    color: #777;
}

.post-review textarea {
    width: 100%;
    height: 15em;
    padding: 1.3em 2.8em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: SF Pro Display;
    font-size: .85em;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #776fc4;
    border-radius: 1em;
}

.post-review input[type="submit"] {
    float: right;
    padding: .8em 4.5em;
    font-family: SF Pro Display;
    font-size: .92em;
    color: white;
    background-color: #673ab7;
    border-radius: .3em;
}


/* login overlay */

#loginOverlay>.overlay-body {
    width: 35em;
}


/* login page form layout */

.login-page-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
}


/* login page empty space on right*/

.login-page-filler {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
}

.login-form {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}

#login-form {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*Welcome message CSS*/

.login-message {
    margin-left: 16em;
    min-width: 28em;
}

.login-message .heading-1 {
    color: #FFFFFF;
}


/* Form Styling*/

.form-label {
    font-family: SF Pro Display SemiBold;
    display: inline-block;
    color: #776FC4;
    width: 50%;
    float: left;
}

.form-reveal {
    font-family: SF Pro Display SemiBold;
    display: inline-block;
    text-decoration: none;
    text-align: right;
    float: right;
    color: #776FC4;
    width: 50%;
}


/*input text-box styling*/

.text-box {
    font-family: 'SF Pro Display', sans-serif;
    background-color: transparent;
    color: #000000;
    border: none;
    border-bottom: 1px solid #C4CAD5;
    outline-width: 0;
    padding: 0.75rem 0;
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    clear: both;
    font-size: 1.4rem;
}


/*input text-box styling*/

.text-box[type=text]:focus {
    width: 100%;
    border: none;
    border-bottom: 1px solid #776FC4;
    outline-width: 0;
}


/*input text-box styling*/

::placeholder {
    color: #C4CAD5;
}


/*Submit button styling*/

.button-default {
    margin-top: 2em;
    background-color: #673AB7;
    width: 100%;
    border-radius: 6px;
    padding: 0.75em;
    border: none;
    color: #FFFFFF;
    font-family: SF Pro Display;
    font-size: 1em;
}


/*Link styling*/

.link-default {
    font-family: SF Pro Display SemiBold;
    text-decoration: none;
    color: #776FC4;
    font-size: 1em;
    margin-bottom: 0;
}


/*Checkbox styling*/

input[type='checkbox'] {
    cursor: pointer;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
}

input[type='checkbox']:before {
    border: 1px solid #C4CAD5;
    border-radius: 5px;
    background-color: transparent;
}

input[type='checkbox']:checked:after {
    border: 1px solid #C4CAD5;
    border-radius: 5px;
    background-color: #776FC4;
}


/* End of Form Styling*/


/* end of card */

@media screen and (min-width: 1700px) {
    * {
        font-size: 12pt;
    }
}

@media screen and (min-width: 1990px) {
    * {
        font-size: 13pt;
    }
}


/* Review Stars */

:root {
    --star-size: 3rem;
    --post-star-size: 2rem;
    --star-color: #eee;
    --star-background: #776FC4;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    /* font-family: Times; */
    line-height: 1;
    margin-right: 1em !important;
}

.Stars.post {
    font-size: var(--post-star-size);
}

.Stars::before {
    content: '★★★★★';
    /* letter-spacing: .2em; */
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Under Construction Page */

.under-construction {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.construction-content-container {
    padding: 4em;
}

.construction-content-container p {
    display: block;
    margin: 0;
}

.under-construction .button-default:hover {
    text-decoration: underline;
    color: #673AB7;
    border: 2px solid #673AB7;
    background: none;
    outline-offset: -2px;
}


/* Mobile Navigation Menu */

.responsive-nav-bar {
    width: 100%;
    background: white;
    height: 4.5em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding: 1.25em 1.5em;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 2px 3px rgba(125, 125, 125, 0.2);
}

.nav-item {
    max-height: 2em;
}

.nav-item img {
    max-height: 2em;
}

#mobile-cart,
#mobile-menu-close {
    max-height: 1.5em;
    height: 1.5em;
    width: auto;
}

#mobile-menu-close {
    margin-bottom: 1em;
}

.responsive-menu-underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    background: grey;
    z-index: 0;
    transition-delay: 1ms;
    transition: ease opacity 0.5s;
}

.responsive-menu {
    z-index: 999;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    background: #EEE8F6;
    padding: 1.25em 1.5em;
    position: absolute;
    width: 225px;
    top: 0;
    left: 0;
    transition-delay: 1ms;
    transition: ease left 0.5s;
}


/* to hide the menu */

.hide {
    left: -225px;
}


/* fades in the menu underlay */

.fade {
    width: 100vw;
    opacity: 0.7;
    z-index: 998;
}

.responsive-menu-item {
    padding-bottom: 1.5em;
}

.responsive-menu-item .heading-2 {
    text-decoration: none;
    font-size: 1.1em;
}

.responsive-menu-item .heading-2:hover,
.responsive-menu-item .heading-2:active,
.responsive-menu-item .heading-2:focus {
    text-decoration: underline;
}

.responsive-menu-item .heading-3 {
    color: black;
    text-decoration: none;
    font-size: 0.95em;
}

.responsive-menu-item .heading-3:hover,
.responsive-menu-item .heading-3:active,
.responsive-menu-item .heading-3:focus {
    text-decoration: underline;
}

.responsive-nav-bar,
#menu-underlay,
.responsive-menu {
    display: none;
}

@media only screen and (max-width: 1024px) {
    #menu-underlay {
        display: block;
    }
    .responsive-nav-bar,
    .responsive-menu {
        display: flex;
    }
}